
# specify which COM port you are going to use to communicate with phone
# e.g., with COM9, set COM_PORT = 9

COM_PORT = 26

# specify files to upload here as a python list of pairs.  Each pair should
# be a tuple ( phone_directory,  pc_file_patterns )
#
# phone_directory can be an
#   absolute path such as
#      'e:/system/libs'
#   or it can be a relative path, e.g.,
#      'my'
#   adds files into the 'my' directory under python installation directory
#   (and creates the directory if it does not yet exist)
#       '../../libs'
#   adds files to the python library directory, and so on
#
# pc file patterns can be either a single pattern, or list of patterns,
#   and a pattern can either be an absolute path, e.g.
#       'c:/users/Kari/src/symbian/py/libs/*.py'
#   or it can be relative with respect to the directory of the config file, e.g.,
#       ../*.py

# these are directories and file patterns that are synched from PC to phone

SYNC_FROM_PC = [
    ('', '../*.py'), # copies all the *.py files from the above directory to python home (Python installation directory on the phone)
    ('../../libs', ['../libs/*.py', '../libs/*.pyd']), # copies *.py modules and *.pyd dll's to libs
    ('my', '../hello*.py'), # copies hello*.py scripts to the 'my' script directory
    ('c:/', '../other/startup.py'), # copies startup.py scripts to the C: root
    ]

# these are directories and file patterns that move to the other direction, that is,
# you first give a target directory on PC, and patterns of files on the phone
SYNC_TO_PC = [
    ('../phonelogs', 'c:/pythonout.txt'),
#    ('../images', 'e:/images/*.jpg'),
    ]


# NOTE! We calculate checksums to see whether files have changed.
# For large files (e.g., images) this takes some time. So you might not
# want to have them in your synclist all the time.
